info:
  version: 1.0.0
  description: WebUI initial local configuration

configuration:
  mongodb: # the mongodb connected by this webui
    name: free5gc # name of the mongodb
    url: mongodb://free5gc-mongodb-466-11:27017 # a valid URL of the mongodb
